.demo__item {
  max-width: 100%;
  position: relative;
}
.demo__title {
  z-index: 7;
  white-space: nowrap;
  color: #ffffff;
  letter-spacing: 0px;
  font-family: Montserrat;
  text-align: center;
  line-height: 100px;
  position: relative;
  font-weight: 900;
  font-size: 100px;
  margin-top: 80px;
  text-transform: uppercase;
}
.demo__subtitle {
  z-index: 8;
  position: relative;
  white-space: nowrap;
  font-size: 40px;
  line-height: 40px;
  font-weight: 900;
  color: #f1bf56;
  letter-spacing: 0px;
  font-family: Montserrat;
  visibility: inherit;
  transition: none 0s ease 0s;
  text-align: inherit;
  border-width: 0px;
  margin: 0px;
  padding: 0px;
  min-height: 0px;
  min-width: 0px;
  max-height: none;
  max-width: none;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transform-origin: 50% 50% 0px;
  text-align: center;
  margin-bottom: 40px;
}
.demo__text {
  z-index: 8;
  position: relative;
  min-width: 742px;
  max-width: 742px;
  white-space: normal;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 0px;
  font-family: 'Montserrat';
  visibility: inherit;
  transition: none 0s ease 0s;
  border-width: 0px;
  margin: 0 auto;
  padding: 0px;
  min-height: 86px;
  max-height: 86px;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transform-origin: 50% 50% 0px;
  text-align: center;
  margin-bottom: 50px;
}
.demo__img {
  width: 500px !important;
  margin: 0 auto 50px;
}
.demo__overlay {
  position: absolute;
  top: 0;
  margin: 0 auto;
  width: 100%;
  color: rgba(255, 255, 255, 0.05);
  text-transform: uppercase;
  text-align: center;
  font-size: 200px;
}
.owl-dots {
  /* outline: 1px solid red !important; */
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-80%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  display: block;
  background: #24232b !important;
  border-radius: 50%;
  margin-bottom: 30px;
  outline:none;
  transition: 0.25s ease;
}

.owl-dots .owl-dot.active{
  box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.1), 0 0 0 12px rgba(0, 0, 0, 0.1);
  background: #fff !important;
 transform:scale(1.5);
}
