.demo {
  &__item{
      max-width: 100%;
      position: relative;
  }
  &__title {
    z-index: 7;
    white-space: nowrap;
    color: rgb(255, 255, 255);
    letter-spacing: 0px;
    font-family: Montserrat;
    visibility: inherit;
    transition: none 0s ease 0s;
    text-align: center;
    line-height: 100px;
    position: relative;

    font-weight: 900;
    font-size: 100px;
    margin-top: 80px;
    text-transform: uppercase;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform-origin: 50% 50% 0px;
  }

  &__subtitle {
    z-index: 8;
    position: relative;
    white-space: nowrap;
    font-size: 40px;
    line-height: 40px;
    font-weight: 900;
    color: rgb(241, 191, 86);
    letter-spacing: 0px;
    font-family: Montserrat;
    visibility: inherit;
    transition: none 0s ease 0s;
    text-align: inherit;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform-origin: 50% 50% 0px;
    text-align: center;
    margin-bottom: 40px;
  }

  &__text {
    z-index: 8;
    position: relative;
    min-width: 742px;
    max-width: 742px;
    white-space: normal;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    letter-spacing: 0px;
    font-family: Montserrat;
    visibility: inherit;
    transition: none 0s ease 0s;
    text-align: center;
    border-width: 0px;
    margin: 0 auto;
    padding: 0px;
    min-height: 86px;
    max-height: 86px;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform-origin: 50% 50% 0px;
    text-align: center;
    margin-bottom: 50px;
  }

  &__img {
      width: 500px;
      margin: 0 auto 50px;
  }

  &__overlay {
    position: absolute;
    top: 0;
    margin: 0 auto;
    width: 100%;
    color: rgba($color: #fff, $alpha: .05);
    text-transform: uppercase;
    text-align: center;
    font-size: 200px;
  }
}

